body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 10px;
    background: lightblue;
    font-size: 20px;
    font-weight: bold;
}

.controls {
    padding: 10px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

canvas {
    border: 2px solid #444;
    flex-grow: 1;
}
